.git
.github
.vscode
.dockerignore
docker-compose.yml
Dockerfile
*.md

**/ms-entregadores-cs/bin/
**/ms-entregadores-cs/obj/
**/ms-entregadores-cs/out/
**/ms-entregadores-cs/appsettings.Development.json
**/ms-entregadores-cs/*.user

.DS_Store
Thumbs.db
desktop.ini
*.log