.git
.github
.vscode
.dockerignore
docker-compose.yml
Dockerfile
*.md

**/api-bff-node/node_modules
**/api-bff-node/npm-debug.log
**/api-bff-node/dist
**/api-bff-node/.env
**/api-bff-node/.env.test
**/api-bff-node/prisma/migrations

.DS_Store
Thumbs.db
desktop.ini
*.log