node_modules/
npm-debug.log
yarn-error.log

# Build e Cache
dist/
.npm/
.prisma/

# Variáveis de ambiente
.env
.env.test
.env.local

# Docker e Git
.git
.gitignore
Dockerfile
docker-compose.yml
.dockerignore

# Arquivos de Sistema
.DS_Store
Thumbs.db